/* commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* container principali */

.container{
    width: 85%;
    margin: 0 auto;
}

.box{
    width: calc(100% / 3 - 10px);
    float: left;
    margin: 5px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* immagini */

.img1{
    background-image: url('../img/1.webp');
}
.img2{
    background-image: url('../img/2.webp');
}
.img3{
    background-image: url('../img/3.webp');
}
.img4{
    background-image: url('../img/4.webp');
}
.img5{
    background-image: url('../img/5.webp');
}
.img6{
    background-image: url('../img/6.webp');
}
.imm{
    width: 100%;
    height: 600px;
    background-position: center ;
    background-size: cover;
}

/* hover */

.img1:hover{
    background-image: url('../img/1b.webp');
}

.img2:hover{
    background-image: url('../img/2b.webp');
}

.img3:hover{
    background-image: url('../img/3b.webp');
}

.img4:hover{
    background-image: url('../img/4b.webp');
}

.img5:hover{
    background-image: url('../img/5b.webp');
}

.img6:hover{
    background-image: url('../img/6b.webp');
}

/* debug 

.debug .box{
    background-color: blue;
    height: 100px;
}

.container.debug{
    background-color: yellow;
    height: 500px;
}*/